.vertical-menu {
  height: calc(100vh - 89px);
  text-align: center;
}

.sidebar-link {
  cursor: pointer;
}

.sidebar-link:hover {
  color: #2185d0 !important;
}

.sidebar-menu {
  width: 200px !important;
}
