.login-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.login-card {
  width: 50% !important;
}

.password-input {
  margin-top: 10px !important;
}

.login-button {
  margin-top: 20px !important;
}
