.dropdown-item {
  cursor: pointer;
  padding: 4px;
}

.dropdown-selected {
  background-color: #2185d0 !important;
  padding: 5px !important;
}

.dropdown-list {
  margin: 0px !important;
  padding: 0px !important;
}
